* {
    box-sizing: border-box;
}
body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.header-nav {
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding: 17px 0 16px 0;
}
.header-item {
    display: inline-block;
    margin-right: 30px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-link {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}
.header-link:hover {
    color: #6d5656;
}
.logo {
background-color: #FFFFFF;
padding: 19px 0;
border: 1px solid #EFEFEF;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.logos {
    float: left;
}
.logo-figure:hover {
    background-color: #cac5c6;
}

.phone {
    float: right;
    margin-top: 41px;
}
.clearfix {
    clear: both;
}
.phone-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}
.phone-link:hover {
    color: #6d5656;
}
.phone-button {
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    padding: 10px 25px 10px 24.5px;
}
.phone-button:hover {
    color: #FFFFFF;
    background-color: #F13C6E;
}
.menu {
    background-color: #FFFFFF;
    padding: 30px 0;
}
.menu-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}
.menu-link:hover {
    color: #5c5151;
}
.menu-item {
    margin-right: 40px;
    display: inline-block;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-list {
    text-align: center;
}