* {
    box-sizing: border-box;
}
body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.header-nav {
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding: 17px 0 16px 0;
}
.header-item {
    display: inline-block;
    margin-right: 30px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-link {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}
.header-link:hover {
    color: #6d5656;
}
.logo {
background-color: #FFFFFF;
padding: 19px 0;
border: 1px solid #EFEFEF;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.logos {
    float: left;
}
.logo-link {
    display: inline-block;
}
.logo-img {
    display: inline-block;
    vertical-align: top;
}
.logo-figure:hover {
    background-color: #cac5c6;
}

.phone {
    float: right;
    margin-top: 41px;
}
.clearfix {
    clear: both;
}
.phone-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}
.phone-link:hover {
    color: #6d5656;
}
.phone-button {
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    padding: 9.62px 25px 9.62px 24.5px;
}
.phone-button:hover {
    color: #FFFFFF;
    background-color: #F13C6E;
}
.menu {
    background-color: #FFFFFF;
    padding: 30px 0;
}
.menu-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}
.menu-link:hover {
    color: #5c5151;
}
.menu-item {
    margin-right: 40px;
    display: inline-block;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-list {
    text-align: center;
}
.chair {
    background-image: url(image/fon.png);
    background-position: center;
    background-color: #F13C6E;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 183.43px 0 183.44px 0;
}
.chair-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.chair-text {
    max-width: 310px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.chair-body {
    margin-bottom: 52px;
}
.button-link {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 9.62px 44px 9.6px 43.46px;
    display: inline-block;
}
.button-link:hover {
    color: #F13C6E;
    background-color: #FFFFFF;
}
.sell {
    padding: 80px 0 100px 0;
}
.sell-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 38px;
}
.sell-item {
    width: 255px;
    margin-right: 30px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 25px 0;
    display: inline-block;
}
.sell-item:last-child {
    margin-right: 0;
}
.sell-figur {
    margin-bottom: 20px;
}
.sell-body {
    margin-bottom: 20px;
}
.price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
    display: block;
    margin-bottom: 20px;
}
.sell-text {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    max-width: 200px;
    display: inline-block;
}
.button-link-buy {
    background: #F13C6E;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 9.1px 40px 9.1px 39.7px;
    text-decoration: none;
}
.button-link-buy:hover {
    background-color: #e94242;
    color: #000000;
}
.bonus-item {
    background: #F13C6E;
    width: 540px;
    padding: 35px 45px 35px 40px;
    display: inline-block;
    margin-right: 30px;
}
.bonus-item:last-child {
    margin-right: 0;
}
.bonus-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 25px;
    max-width: 260px;
}
.bonus-body {
    margin-bottom: 25px;
}
.bonus-text {
    max-width: 235px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.bonus-rect {
    float: left;
    max-width: 250px;
}
.bonus-figure {
    float: right;
    margin-top: 17.73px;
}
.bonus-mail {
    background: #FFFFFF;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #C4C4C4;
    font-family: 'Roboto', sans-serif;
    padding: 9.5px 31.47px 9.5px 25px;
    border: none;
    text-align: left;
}
.button-link.bus {
    border-radius: 30px;
    padding: 7.5px 21.59px 7.5px 21.59px;
}
.bonus-text.bus {
    max-width: 145px;
}
.container.impuls {
    padding: 100px 0 80px 0;
}
.impuls-item {
    display: inline-block;
}
.impuls-link {
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    display: inline-block;
}
.impuls-link:hover {
    background-color: #EFEFEF;
}
.impuls-img {
    padding: 33.935px 63.185px;
    display: inline-block;
    vertical-align: top;
}
.sell-remember {
    padding-bottom: 81px;
}
.categors {
    padding: 60px 0;
    background-color: #FFFFFF;
}
.categors-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    margin-bottom: 30px;
    max-width: 120px;
}
.categors-item {
    width: 255px;
    margin-right: 30px;
    display: inline-block;
}
.categors-item:last-child {
    margin-right: 0;
}
.categor-list {
    border-top: 1px solid #EFEFEF;
    padding-top: 25px;
}
.categor-link {
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    text-decoration: none;
}
.categor-link:hover {
    color: #b68686;
}
.icon {
    border-top: 1px solid #EFEFEF;
}
.icon-img {
    display: inline-block;
    vertical-align: top;
}
.icon-img.instagram {
    height: 22px;
    width: 22px;
    margin: 9.5px;
}
.icon-img.fb {
    height: 20px;
    width: 11px;
    margin: 10.5px 15px;
}
.icon-img.vk {
    height: 16px;
    width: 28px;
    margin: 12.5px 6.5px;
}
.icon-img.youtube {
    height: 16px;
    width: 22.18px;
    margin: 12.5px 9.41px;
}
.icon-link {
    display: inline-block;
    border: 2px solid #F13C6E;
    border-radius: 22.5px;
    height: 45px;
    width: 45px;
}
.icon-link:hover {
    background-color: #dfbfbf;
}
.icon-item {
    display: inline-block;
    margin-right: 20px;
}
.icon-item:last-child {
    margin-right: 0;
}
.icon-list {
    float: left;
}
.icon-phone {
    padding-top: 13px;
    float: right;
}
.footer-down {
    padding: 25px 0;
}
.footer-up {
    background-color: #FFFFFF;
    padding: 37px 0 38px 0;
}
.confid-body {
    float: left;
    max-width: 700px;
}
.confid-text {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}
.confid-politic {
    float: right;
}